html, body {
    background-image: url("../image/fundo-3.png");
    font-family: "Eight Bit Dragon"; 
    overflow: hidden;
    cursor: url("../image/cursor-2.cur"), default;
}

canvas {
    display: flex;
    margin: 100px;
    margin-left: 300px;
    padding: 100px;
    cursor: url("../image/cursor-2.cur"), pointer;
}

.pular {
    min-height: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 12px 22px;
    font-size: 24px;
    cursor: url("../image/cursor-1.cur"), pointer;
    font: 20px/25px Eight Bit Dragon;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(79, 82, 252);
    border: none;
    box-shadow: 0 9px #999, 1px 1px #333;
    text-shadow: -1px -1px #fff, 1px 1px #333;
}

.button:hover {background-color: rgb(99, 102, 241);}

.button:active {
    background-color: rgb(79, 82, 252);
    box-shadow: -1px -1px #666, 2px 1px #333;
    transform: translateY(4px);
}